---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br bg-heading-5 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-heading-5 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/confianza-empresaria.jpg"} alt="banner image" 
                width="1240" height="4000"
                class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Acerca de Nosotros
            </Title>
            <Paragraph className="mt-8">
                Admisa Group es una empresa que ofrece servicios administrativos, contables y de marketing a pequeñas empresas para optimizar sus recursos y mejorar su productividad. <br>Nuestro equipo está conformado por profesionales especializados en diversas áreas tales como: administrativa, contable y marketing.
            </Paragraph>
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Work as a team with our clients to improve their internal productivity, achieve their goals and objectives effectively, improving their presence on social networks and digital platforms." title="Objetive">
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medal" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F0871A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 4v3m-4 -3v6m8 -6v6" />
                            <path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" />
                          </svg>                            
                    </span>
                </Info>
                <Info description="Provide efficient, reliable and professional support in the management of administrative tasks and operations." title="Objetive">
                    <span slot="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medal" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F0871A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 4v3m-4 -3v6m8 -6v6" />
                            <path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" />
                          </svg>
                    </span>
                </Info>
            </div>
        </div>
    </Container>
</section>