---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { servicesES } from "../../utils/dataES";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Nuestros Servicios
            </Title>
            <Paragraph>
                <span class="text-heading-4 font-bold">Admisa</span><span class="text-heading-1 font-bold"> Group</span> ofrece una amplia gama de servicios administrativos que se adaptan a las necesidades de sus clientes.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-4 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                    servicesES.map((service: ServicesProps) => {
                    return (
                            <Service title={service.title} description={service.description} icon={service.icon}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>
</section>