---
import LayoutES from "../layouts/LayoutES.astro";
import HeroES from "../components/sections/HeroES.astro";
import ServicesES from "../components/sections/ServicesES.astro";
import AboutUsES from "../components/sections/AboutUsES.astro";
import FeaturesES from "../components/sections/FeaturesES.astro";
import CTAES from "../components/sections/CTAES.astro";
---

<LayoutES>
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<HeroES />
		<ServicesES />
		<AboutUsES />
		<FeaturesES />
		<CTAES />
	</main>
</LayoutES>
