---
import Container from "../shared/Container.astro";
---

<header class="absolute inset-x-0 z-50 py-6">
    <Container>
                <nav class="flex justify-between gap-6">
                      <a href="/" class="relative flex items-center gap-3">
                        <img src="images/LOGO-PNG.png" alt="Admisa Group Isologo" class="w-21 h-12 trounded-xl">
                        <!-- <div class="inline-flex text-lg font-semibold text-center text-heading-1 top-0">
                          Admisa Group
                        </div> -->
                      </a>
                    </nav>
        </nav>
    </Container>
</header>